<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lyft</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/home.css">
  </head>
  <body>
    <div class="fondo embed-responsive-item">
      <div class="container">
        <div class="row">
          <div class="text-center">
            <img class="logo" src="../assets/img/logo-white.png" alt="">
          </div>
        </div>
      </div>
      <div class="contenedor-botones">
        <button class="boton boton-log" type="button" name="button">Log in</button>
        <button class="boton boton-sign" type="button" name="button">Sign in</button>
        <!-- <div class="row contenedor-botones">
          <div class="col-sm-6">
            <button class="boton btn btn-default" type="button" name="button">Log in</button>
          </div>
          <div class="col-sm-6">
            <button class="boton btn btn-default" type="button" name="button">Sign in</button>
          </div>
        </div> -->

      </div>
    </div>
  </body>
</html>
